@{
    ViewBag.Title = "主页";
}

<div class="page-header">
    <!--<div class="row">-->
    <h1 class="col-md-offset-1">观察·人员<span class="label label-default col-md-offset-1 col-xs-offset-1"> 千载钟嘉，万物始元。</span></h1>
</div>
<div class="jumbotron">
    <h1>秋风·萧瑟</h1>
    <p class="lead">今日长缨在手, 何时缚住苍龙. </p>
    <p class="small">稍安勿躁,仍在施工&hellip;</p>
    <p><a href="http://www.pviewer.cn" class="btn btn-primary btn-lg" target="_blank">Get more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>少年.</h2>
        <p><a class="btn btn-default" href="">Get more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>无限.</h2>
        <p><a class="btn btn-default" href="">Get more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>如今。</h2>
        <p><a class="btn btn-default" href="">Get more &raquo;</a></p>
    </div>
</div>